<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.CSharpMasterClassConnectionString"
            connectionString="Data Source=Philip_Luke\PANJUTORIALSSQL;Initial Catalog=CSharpMasterClass;Persist Security Info=True;User ID=sa;Password=H+:gr~MOORGs;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>